
/* Modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} 

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 30px;
    width: 500px;
    border-radius: 10px;
    position: relative;
    animation: fadeIn 0.3s ease;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px;
    cursor: pointer;
}

/* Form Styles */
.avatar-upload {
    text-align: left;
    margin-bottom: 20px;
}

.avatar-upload img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.form-actions{
    display: flex;
    justify-content: center;
}
.form-actions > button{
    margin: 10px;
}


/* input form */
.input-group {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.input-field {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.2s;
}

.input-field:focus {
    border: 2px solid #1a73e8;
}

.input-label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #999;
    background-color: white;
    padding: 0 2px;
    transition: 0.2s ease all;
}

.input-field:focus ~ .input-label, .input-field:not(:placeholder-shown) ~ .input-label{
    top: -5px;
    left: 10px;
    font-size: 12px;
    color: #1a73e8;
    font-weight: bold;
}   


/* Modal */
.close { position: absolute; right: 15px; top: 10px; font-size: 24px; cursor: pointer; }
.checkbox-group { margin: 15px 0; border: 1px solid #eee; padding: 10px; }
input[type="text"] { width: 100%; padding: 10px; margin-bottom: 10px; }

 /* Loading overlay */
 #loading {
    position: fixed;
    inset: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Box */
.loading-box {
    text-align: center;
}

/* Spinner */
.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 15px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Text */
.loading-box p {
    font-size: 18px;
    color: #ddd;
}

.container-manager-image { 
    max-width: 900px; 
    max-height:250px ; 
    background: white; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    overflow: scroll; 
}

.actions { 
    margin-bottom: 20px; 
}

.btn { 
    padding: 10px 15px;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold; 
}

.btn-add {
    background: #28a745; 
    color: white; 
}

.btn-delete { 
    background: #dc3545; 
    color: white; 
    padding: 5px 10px; 
}

table { 
    width: 100%;
    border-collapse: collapse; 
    margin-top: 10px; 
}
th, td { 
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: center;
}
th { 
    background-color: #f8f9fa;
}
.img-preview {
    width: 60px;
    height: 60px; 
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #eee;
}
.img-preview:hover{
    cursor: pointer;
}
.detail-price{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    margin-top: 20px;
}

/* chi tiet thong tin dat phong */
.invoice-box {
    position: relative;
    min-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.header-info {
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.header-info h1 {
    margin: 0;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 24px;
}

.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.info-group h3 {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 5px;
    color: var(--secondary-color);
    font-size: 18px;
}

.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.label {
    font-weight: bold;
    color: #555;
}

.total-section {
    margin-top: 30px;
    padding-top: 15px;
    border-top: 2px dashed #dee2e6;
    text-align: right;
}

.total-amount {
    font-size: 22px;
    font-weight: bold;
    color: #e74c3c;
}

.validation{
    font-size: 12px;
    position: absolute;
    top: 80%;
    left:0;
    color: #e74c3c;
}
